/* Navbar Section */
.nav-section a {
  font-weight: 500;
  font-size: 16px;
}
.nav-section a:hover {
  font-size: 18px;
  border-bottom: 1px solid #008080;
  color: #008080;
}
/* .nav-position {
  position: fixed;
  padding-top: 25px;
} */

/* Carousel Style */

* {
  box-sizing: border-box;
}
body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
}
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  /* max-width: 1000px; */
  position: relative;
  margin: auto;
}
.slider-img {
  height: 600px;
  width: 100%;
  position: relative;
  top: -57px;
  z-index: -1;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 80%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #717171;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(195, 189, 189, 0.8);
}

/* Caption text */
.text {
  padding: 8px 12px;
  position: absolute;
  /* width: 100%; */
  text-align: left;
  top: 25%;
  left: 5%;
  font-size: 40px;
  font-weight: 700;
  color: #000;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  span {
    color: #008080;
  }
}

/* Number text (1/3 etc) */
.numbertext {
  color: #000;
  font-size: 14px !important;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  bottom: 15%;
  left: 46%;
}

/* The dots/bullets/indicators */
/* .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  i {
    color: #717171 !important;
  }
} */

.active,
.dot:hover {
  background-color: #717171;
  color: #fff;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@media only screen and (min-width: 320px) and (max-width: 575px) {
  .text {
    font-size: 16px;
  }
  .prev,
  .next {
    top: 58%;
  }
  .numbertext {
    top: 62%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .text {
    font-size: 26px;
  }
}

@media only screen and (max-width: 992px) {
  .slider-img {
    height: auto !important;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

/* Photo Grid Section */
.grid-img {
  height: 500px;
  width: 100%;
  margin-top: 15px;
  border-radius: 20px;
  margin-bottom: 20px;
  img {
    height: 100%;
    width: 100%;
  }
}
.grid-img:hover {
  transform: scale(1.1);
  border-radius: 0px;
}
.grid-img1 {
  height: 231px;
  width: 100%;
  border-radius: 20px;
  margin: 10px 0;
  img {
    height: 100%;
    width: 100%;
  }
}
.grid-img1:hover {
  transform: scale(1.1);
  border-radius: 0px;
}

.grid-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
}
@media only screen and (min-width: 320px) and (max-width: 575px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
  }
}

/* Testimonial Section */

.testimonial-sec .carousel-img {
  height: 400px;
  width: 100%;
}
.testimonial-sec .desc-sec {
  padding: 50px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  h2 {
    font-size: 24px;
    color: #008080;
    font-weight: 600;
  }
  p {
    font-size: 16px;
    color: #717171;
    font-weight: 500;
  }
}
.testimonial-sec .grid-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
}
@media only screen and (min-width: 320px) and (max-width: 575px) {
  .testimonial-sec .grid-container {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .testimonial-sec .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
  }
}

/* About Us Section */
.about-sec {
  padding: 50px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #fff;
  h2 {
    font-size: 24px;
    color: #008080;
    font-weight: 600;
  }
  p {
    font-size: 16px;
    color: #717171;
    font-weight: 500;
  }
}

/* 3 Slider style */

.multiple-card-slider .carousel-control-prev,
.multiple-card-slider .carousel-control-next {
  background-color: #e1e1e1;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.multiple-card-slider img:hover {
  transform: scale(1.1);
}
@media (min-width: 768px) {
  .multiple-card-slider .carousel-item {
    margin-right: 0;
    flex: 0 0 calc(100% / 3);
    display: block;
    backface-visibility: visible;
  }
  .multiple-card-slider .carousel-inner {
    display: flex;
  }
}

/* Contact Us Section */
.contact-sec {
  background-image: linear-gradient(to right, gray, lightgray);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  h2 {
    font-size: 36px;
    color: #008080;
    font-weight: 600;
  }
  .contact-form {
    padding: 30px 30px 10px 30px;
    border: 1px solid #008080;
    border-radius: 10px;
    .btn {
      background-color: #008080;
      color: #fff;
    }
    .btn:hover {
      transform: scale(1.2);
    }
    i {
      color: #008080;
      padding-top: 6px;
      padding-right: 3px;
      cursor: pointer;
    }
    p {
      color: #717171;
      cursor: pointer;
    }
    .hover-effect:hover {
      transform: scale(1.1);
    }
  }
}
@media only screen and (min-width: 992px) {
  .contact-icon {
    display: flex;
    justify-content: space-between;
  }
}

/* Footer Section */
.footer-sec {
  background-color: #008080;
  color: #fff;
  padding: 15px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 400;
}
